<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/header.ejs') %>
<body>
    <h1 id="homebutton"><a href="/">RecommendMe</a></h1>
    <h3><a href="/albums">Back to Albums</a></h3>
    
    <div class="createNewAlbum">
        <form action ="/albums" method="post" id="createForm">
            <input type="text" name="title" placeholder="Title" required />
            <input type="text" name="artist" placeholder="Artist" />
            <input type="text" name="notable_songs" placeholder="Notable Songs" />
            <input type="text" name="cover" value="https://img.freepik.com/premium-vector/vector-3d-realistic-blank-cd-dvd-with-paper-cover-case-box-set-closeup-isolated-white-background-design-template-mockup-cd-packaging-copy-space-top-view_153563-2891.jpg" />
            <input type="number" name="likes" placeholder="Likes 1" />
            <input type="text" name="spotify" placeholder="Spotify Embed Link" />
            <button type="submit">Create Album</button>
        </form>
        <div id="spotifyinstructions">
            <img src="/assets/embedspotify.png">
        </div>
    </div>
    
</body>
</html>