<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><a href="/">RecommendMe</a></h1>
    
    
    <div class="createNewAlbum">
        <form action ="/albums" method="post" id="createForm">
            <input type="text" name="title" placeholder="Title" required />
            <input type="text" name="director" placeholder="Director" />
            <input type="text" name="release_date" placeholder="Release Date" />
            <input type="text" name="poster" value="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/football%2Csoccer%2Csport%2Cevent-design-template-31189bebe42fe7f743327895731b60ae_screen.jpg" />
            <input type="text" name="review" placeholder="Review">
            <input type="number" name="likes" placeholder="Likes 1" />
            <button type="submit">Create Movie</button>
            
        </form>
    </div>
    
</body>
</html>