<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/header.ejs') %>
<body>
    <h1 id="homebutton"><a href="/">RecommendMe</a></h1>
    <h3><a href="/movies">Back to Movies</a></h3>
    
    <div class="createNewAlbum">
        <form action ="/albums" method="post" id="createForm">
            <input type="text" name="title" placeholder="Title" required />
            <input type="text" name="director" placeholder="Director" />
            <input type="text" name="release_date" placeholder="Release Date" />
            <input type="text" name="poster" value="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/football%2Csoccer%2Csport%2Cevent-design-template-31189bebe42fe7f743327895731b60ae_screen.jpg" />
            <input type="text" name="review" placeholder="Review">
            <input type="number" name="likes" placeholder="Likes 1" />
            <button type="submit">Create Movie</button>
            
        </form>
    </div>
    
</body>
</html>