<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>RecommendMe</title>
        <link rel="stylesheet" href="/styles/main.css">
    </head>
<body>
    <h1>RecommendMe</h1>
    <h3><a href="/">Home</a></h3>
    <div class="container">
        <h1>Movies</h1>
        <h2><a href="/movies/new">Recommend a Movie</a></h2>
        
            
            <section>
            <% for (let movie of movies) { %>
                    <div class="container reveal fade-bottom">
                    <a href="/movies/<%=movie._id%>">
                    <img alt="<%= movie.title%>" src="<%=movie.poster%>" id="poster-image">
                    </a>
                    </div>
            <%}%>
        
            </section>
    </div>
    <!-- https://alvarotrigo.com/blog/css-animations-scroll/ -->
    <script>
        function reveal() {
        var reveals = document.querySelectorAll(".reveal");

        for (var i = 0; i < reveals.length; i++) {
            var windowHeight = window.innerHeight;
            var elementTop = reveals[i].getBoundingClientRect().top;
            var elementVisible = 150;

            if (elementTop < windowHeight - elementVisible) {
            reveals[i].classList.add("active");
            } else {
            reveals[i].classList.remove("active");
            }
            }
        }

        window.addEventListener("scroll", reveal);
    </script>
    
</body>
</html>