body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: rgb(39, 35, 35);
}
#homebutton {
    margin-top: 5%;
    text-align: center;
    color: aliceblue;
}
#backbutton {
  padding-left: 5%;
}
.container-fluid {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width:100%;
}
.container-fluid h1 {
    justify-content: center;
    color: aliceblue;
}

.row{
    text-align: center;
    color: aliceblue;
    padding: 3em;
}

.card{
    background-color: rgb(39, 35, 35);
    border-radius: 0;
    border:5px;
    align-items: center;
    
    padding: 1em;
    border-color: aliceblue;
}

#cover-image {
    width: 80%;
    display:block;
    margin: 0 auto;
    margin-top: 1em;
}

#poster-image {
    width: 80%;
    display:block;
    margin: 0 auto;
    margin-top: 1em;
}

a {
  text-decoration: none;
  color:aliceblue;
}

a:hover {
  color:rgb(255, 255, 255);
}
a:hover img {
  filter: contrast(1.1)
}

#createForm {
  
  text-align: center;
  padding: 10%
}
input {
  padding: 5px;
  margin: 5px 0;
  border: 1px black;
  box-sizing: border-box;
  width: 100%
}

button {
  border-radius: 1em;
}

#spotifyinstructions {
  margin: 0 auto;
  display: flex;
}
#spotifyinstructions img {
  width: 80%;
  /* padding-top:1%; */
  margin: 0 auto;
}

.EditItem {

}

/* Implemented the scroll reveal from here https://alvarotrigo.com/blog/css-animations-scroll/ */
    .reveal {
    position: relative;
    opacity: 0;
    
  }
  .reveal.active {
    opacity: 1;
    
  }
  .active.fade-bottom {
    animation: fade-bottom 1s ease-in;
    
  }
  .active.fade-left {
    animation: fade-left 1s ease-in;
    
  }
  .active.fade-right {
    animation: fade-right 1s ease-in;
    
  }

  @keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fade-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }