body {
    background-color: rgb(39, 35, 35);
}
body h1 {
    text-align: center;
    color: aliceblue;
    
}
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-color: aquamarine;
    width:100%;
}
.container h1 {
    justify-content: center;
    color: aliceblue;
}

.row{
    text-align: center;
    color: aliceblue;
    padding: 3em;
}

.card{
    background-color: rgb(39, 35, 35);
    border-radius: 0;
    border:5px;
    align-items: center;
    
    padding: 1em;
    border-color: aliceblue;
}

#cover-image {
    width: 80%;
}

#poster-image {
    width: 80%;
}
/* Implemented the scroll reveal from here https://alvarotrigo.com/blog/css-animations-scroll/ */
    .reveal {
    position: relative;
    opacity: 0;
    
  }
  .reveal.active {
    opacity: 1;
    
  }
  .active.fade-bottom {
    animation: fade-bottom 1s ease-in;
    
  }
  .active.fade-left {
    animation: fade-left 1s ease-in;
    
  }
  .active.fade-right {
    animation: fade-right 1s ease-in;
    
  }

  @keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fade-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }